@import 'base';
@import '~bootstrap/scss/bootstrap.scss';
@import 'mixins';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  @include linear-gradient($primary-color, $secondary-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include nunito;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: $tertiary-color;
}


h1 {
  @include nunito-black;
  background-color: $tertiary-color;
  display: inline-block;
  margin-bottom: 0;
  padding-right: 2.5%;
  padding-left: 1%;
  color: $h1-color;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  line-height: 1.8rem;
}

h2 {
  @include nunito-semi;
  color: $h2-color;
}

p {
  color: $p-color;
  letter-spacing: 0.05rem;
  margin-top: 1%;
  text-align: justify;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
