// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400i,800i');

// Font Variables
$nunito: 'Nunito', sans-serif;

@mixin nunito() {
  font-family: $nunito;
  font-weight: 300;
  font-style: normal;
}

@mixin nunito-semi() {
  font-family: $nunito;
  font-weight: 400;
  font-style: italic;
}

@mixin nunito-black() {
  font-family: $nunito;
  font-weight: 800;
  font-style: italic;
}
