$primary-color: #751cff;
$secondary-color: #cf10ff;
$tertiary-color: #007dff;


//GENERAL TEXT
$heading-color: #fdf317;
$h1-color: #ffffff;
$h2-color: #ffffff;
$p-color: #ffffff;

//NAVIGATION
$nav-item-color: #ffffff;
$nav-item-color-hover: #fdf317;
